HOME     = .
RANDFILE = $ENV::HOME/.rnd

[ req ]
default_bits       = 2048
default_keyfile    = nip-key.pem
string_mask        = utf8only
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions

[ server_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = SE
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Sodermanland
localityName                = Locality Name (eg, city)
localityName_default        = Stockholm
organizationName            = Organization Name (eg, company)
organizationName_default    = Independent
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = Recover GH Secrets Server
emailAddress                = Email Address
emailAddress_default        = skagget77@gmail.com

[ server_req_extensions ]
subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
extendedKeyUsage     = serverAuth
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"

[ alternate_names ]
DNS = *.nip.io
